@import '~bidstack-theme/theme';

:-ms-input-placeholder { color: $fontColorLight3; }
::-moz-placeholder { color: $fontColorLight3; }
::-webkit-input-placeholder { color: $fontColorLight3; }
:-moz-placeholder { color: $fontColorLight3; }

.input {
  @extend .body1;

  font-family: 'Open sans', sans-serif;
  outline: none;
  display: inline-flex;
  justify-content: flex-start;
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  caret-color: $primeColor;
  color: $fontDark;
  border: none;
  border-bottom: 2px solid #d3d6e1;

  &:hover {
    cursor: text;
  }

  &:focus {
    color: $fontDark;
    border-bottom: 2px solid $primeColor;
  }
}
